@import url('normalize.css');
@import url('header.css');
@import url('footer.css');
@import url('baner.css');
@import url('statistic.css');
@import url('info.css');
@import url('reviews.css');
@import url('services.css');
@import url('about.css');
@import url('about-info.css');
@import url('team.css');
@import url('values.css');
@import url('subscribe.css');
@import url('gallery-baner.css');
@import url('gallery.css');
@import url('consultation.css');
@import url('reviews-info.css');
@import url('reviews-baner.css');
@import url('blog.css');
@import url('blog-baner.css');
@import url('contact.css');
@import url('thanks.css');
@import url('privacy.css');
@import url('terms.css');
@import url('disclaimer.css');
@import url('services-baner.css');
@import url('pricing-baner.css');
@import url('pricing.css');
@import url('price.css');
@import url('feedback.css');

@font-face {
    font-family: "Lato";
    src: url('../assets/font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}


h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: 59.8px;
  @media screen and (max-width: 574px) {
      font-size: 30px;
      line-height: 35px;
  }
}

.catalog-slider {
  margin-top: 120px;
  width: 100%; 
  height: 600px; 
  border: none; 
  border-radius: 10px; 
  overflow: hidden; 
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}


